<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>Compile</title>
		<style>
.ng-scope {
	border: 1px solid red;
	background-color: hsla(0, 100%, 90%, 0.2);
}
		</style>
	</head>
	<body>
		<form name="formCtrl" ng-submit="">
			<input type="stars" ng-model="note" /><br/>
			<input type="stars" /><br/>
			<input type="text" ng-model="note" /><br/>
			<input type="text" ng-model="note" /><br/>
			<input type="submit" value="Submit" ng-model="f" ng-disabled="formCtrl.$invalid"/><br/>
		</form>
		<button ng-click="logScope()">Log</button>

		<script src="../bower_components/angular/angular.js"></script>
		<script src="app.js"></script>
	</body>
</html>
