@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    font-family: 'Lato', sans-serif;
}

code {
    background-color: #eee;
}

button {
    display: inline-block;
    margin: 0em 2em;
    padding: 0.5em 2em;
    border: 1px solid black;
    background-color: #eee;
    font-size: inherit;
    box-shadow: 2px 2px 39px -8px rgba(0,0,0,0.8);
}

button:hover {
    box-shadow: 2px 2px 45px -8px rgba(0,0,0,0.8);
}

button:active {
    background-color: #ddd;
}

jumbo {
    display: block;
    padding: 1em;
    text-align: center;
    font-size: 200%;
}