@import url('https://fonts.googleapis.com/css?family=Lato');
body {
    font-family: 'Lato', sans-serif;
}

code {
    padding: 0.1em 0.2em;
    font-size: 1.3em;
    background-color: hsl(0, 0%, 98%);
}

button {
    display: inline-block;
    margin: 0em 2em;
    padding: 0.5em 2em;
    border: 1px solid black;
    background-color: #eee;
    font-size: inherit;
    box-shadow: 2px 2px 2em -8px #aaa;
}

button:hover {
    box-shadow: 2px 2px 2.5em -8px #888;
}

button:active {
    background-color: #ddd;
}

button.green {
    background-color: hsl(120, 100%, 30%);
    color: white;
}

button.green:hover {
    background-color: hsl(120, 100%, 25%);
}

jumbo {
    display: block;
    padding: 1em;
    text-align: center;
    font-size: 200%;
}

label>span {
    padding-right: 1em;
    font-weight: bold;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.flex {
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.space-between {
    justify-content: space-between;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fade-in 2s;
}

.odd-gray:nth-child(even) {
    background-color: #eee;
}

.w-10em {
    display: inline-block;
    width: 10em;
}

.w-5em {
    display: inline-block;
    width: 5em;
}

form {
    display: inline-block;
    margin: 0;
    padding: 0.3em;
    background-color: hsl(60, 50%, 95%);
    width: 30em;
}

label {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    margin-bottom: 0.3em;
}

label>div {
    flex-grow: 1;
    width: 50%;
}

.error input {
    background-color: hsl(0, 100%, 95%);
}

label>div>ul {
    display: none;
}

label.error>div>ul {
    display: block;
    margin: 0 0 1em;
    padding: 0;
    list-style: none;
    color: red;
    font-size: 0.8em;
    font-weight: bold;
}

form .submit {
    display: block;
    padding: 1em 0em;
}

form .submit>button {
    margin: 0em;
}