@import url('https://fonts.googleapis.com/css?family=Lato');
body {
    font-family: 'Lato', sans-serif;
}

code {
    padding: 0.1em 0.2em;
    font-size: 1.3em;
    background-color: hsl(0, 0%, 98%);
}

button {
    display: inline-block;
    margin: 0em 2em;
    padding: 0.5em 2em;
    border: 1px solid black;
    background-color: #eee;
    font-size: inherit;
    box-shadow: 2px 2px 2em -8px #aaa;
}

button:hover {
    box-shadow: 2px 2px 2.5em -8px #888;
}

button:active {
    background-color: #ddd;
}

jumbo {
    display: block;
    padding: 1em;
    text-align: center;
    font-size: 200%;
}

label>span {
    padding-right 1em;
    font-weight: bold;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.flex {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.space-between {
    justify-content: space-between;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fade-in 2s;
}

.odd-gray:nth-child(even) {
    background-color: #eee;
}