html, body, a {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    color: hsla(120, 100%, 20%, 1);
	font-family: Helvetica, Arial, Sans-Serif;
}

/* Header PC */
pc {
	min-width: 500px;
}

/* modify the logo... */
img-svg #consulting * {
    fill: black !important;
}

ui-view {
	display: block;
	padding:0px;
	margin: 0px;
}

button {
    background-color: hsla(120, 100%, 20%, 1);
	color: white;
	padding: 10px;
	border-radius: 8px;
	border: 1px solid black;
	cursor: pointer;
}

