<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>Watch and $$watchers</title>
	</head>
	<body>
		<p>Le but de cet exemple est de voir les watchers se mettre en place. Combien il y en a ? Comment réduire leur nombre ? Essayer le bind-once.</p>
		<input ng-model="message" /><br/>
		message: {{message}}<br/>
		<button ng-click="logScope()">Log</button>
		<p>Questions:</p>
		<ol></ol>

		<script src="../bower_components/angular/angular.js"></script>
		<script src="app.js"></script>
	</body>
</html>
