<!DOCTYPE html>
<html ng-app="myApp">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Scope vs isolated scope</title>
	<link rel="stylesheet" href="../style.css">
	<style>
		.ng-scope {
			margin: 3px;
			border: 1px solid black;
		}

		.ng-isolate-scope {
			margin: 3px;			
			border: 1px solid blue;
		}

		child-scope,
		isolated-scope,
		databinding {
			display: block;
		}

	</style>
</head>

<body>
	<h1>Scope vs Isolated scope</h1>
	<ul>
		<li>AngularJS has a service called <code>$rootScope</code>.</li>
		<li>The <code>$rootScope</code> is used as the compilation context by the <code>$compile</code> service in the <code>angular.bootstrap</code> function.</li>
		<li>The <code>$rootScope</code> is a tree that can grow with its <code>$new</code> method.</li>
		<li>The <code>$new</code> method returns a <b>child scope</b> or a <b>child isolated scope</b> according its arguments.</li>
		<li>Batarang helps you to check the <code>$scope</code> when needed.</li>
	</ul>
	<h2>Child Scope</h2>
	<ul>
		<li>When the scope does not know the property, it asks to its parent to give it.</li>
		<li>When the scope set a property, it will not ask again to its parent.</li>
	</ul>
	<h2>Isolated Scope</h2>
	<ul>
		<li>When the scope does not know the property, it DOES NOT ask to its parent to give it.</li>
	</ul> 
	<div class="flex">
		<label><span class="w-5em">message</span><input ng-model="message"></label>
	</div>
	<div class="flex">
		<label><span class="w-5em">foo.bar</span><input ng-model="foo.bar"></label>
	</div>
	<child-scope>
		<div class="flex">
			<label><span class="w-5em">message</span><input ng-model="message"></label>
		</div>
		<div class="flex">
			<label><span class="w-5em">foo.bar</span><input ng-model="foo.bar"></label>
		</div>
		<div class="flex">
			<label><span class="w-5em">greetings</span><input ng-model="greetings"></label>
		</div>
	</child-scope>
	<isolated-scope message="334"></isolated-scope>
	<h2>Directive Databinding</h2>
	<p>There are 4 types :</p>
	<ul>
		<li>2 ways</li>
		<li>1 way</li>
		<li>reference</li>
		<li>execute</li>
	</ul> 
	<databinding two-ways="message" one-way="message" reference="message" execute="hello()"></databinding>
	

	<script src="../../node_modules/angular/angular.js"></script>
	<script src="main.js"></script>
</body>

</html>
