<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>Digest</title>
	</head>
	<body>
		<p>Look at how much a digest process takes in milliseconds.</p>
		<p>Exercice: put the perf stuff in a module that you can add or remove</p>
		<input ng-model="test" /><br/>
		<button ng-click="logScope()">Log</button>
		<button ng-click="doNotDigest()">Do not digest well</button>

		<script src="../../node_modules/angular/angular.js"></script>
		<script src="app.js"></script>
	</body>
</html>
